@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  overflow-x: hidden;
}
/* #navbar-logo {
  width: 151px;
  height: 36px;
  left: 136px;
  top: 38px;
}
@media only screen and (min-width: 1025px) {
  #navbar-logo {
    margin-right: 60%;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

#navbar-item {
  height: 22px;
  position: relative;
  margin-right: 30%;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  z-index: 3;
  line-height: 19px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: #000000;
}
#navbar-main {
  background-color: transparent !important;
  position: relative;
  z-index: 2;
  position: fixed;
  backdrop-filter: blur(10px);
  width: 100%;
}

.me-auto{
    margin-left: -10rem;
} */




#navbar-logo {
  width: 151px;
  height: 36px;
  left: 136px;
  top: 38px;
}

#navbar-main {
  background-color: transparent !important;
  z-index: 2;
  position: fixed;
  backdrop-filter: blur(10px);
  width: 100%;
}

#navbar-item {
 text-decoration: none;
 margin-right: 2rem;
 font-family: "Poppins";
 padding: 0.5% 2%;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: #000000;
}
/* Style 3: Just animate the :after element's width from 0 to 100% */



#navbar-item:hover{

   text-shadow: none;
   color: #a2f9ff;
   border:1px #000000;
   background: rgba(0, 0, 0, 0.171);
   box-sizing: border-box;
   position: relative;
   color: #f4f4f4;
   box-sizing: border-box;
   position: relative;
   cursor: pointer;
   outline: 0;
   border: none;
   transition: 0.3s;
   opacity: 0.8;


}



