.contact-us {
  background-image: url("../../assets/img/contact.png");
  background-size: cover;
  width: 61rem;
  height: 24rem;
  margin: 5% auto;
  position: relative;
}
.contact-us-content {
  position: absolute;
  margin: 10% 0 0 50%;
}
.contact-links{
  position: absolute;
margin-left: 60%;
width:40%;
margin-top: 2%;

}
#contact-icon{
  height: 2rem;
  width: 2rem;
  margin: 4%;
}

@media only screen and (max-width: 820px) {
  .contact-us {
    width: 90%;
    height: 14rem;
    margin: 5% auto;
      background-image: url("../../assets/img/contact.png");

  }
}
@media only screen and (max-width: 600px) {
  .contact-us {
    width: 90%;
    height: 14rem;
    margin: 5% auto;
      background-image: url("../../assets/img/contact1.png");

  }
  .contact-links{
    position: absolute;
  margin-left: 60%;
  width:40%;
  margin-top: 3%;
  
  }
  #contact-icon{
    height: 1.5rem;
    width: 1.5rem;
    margin: 2%;
  }
  .contact-us-content {
    position: absolute;
    margin-top: 20%;
    margin-left: 20%;
  }
}

