@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');


.leftshape {
  position: absolute;
  height: 17rem;
  top: -1.5px !important;
}
.people {
  position: absolute;
  height: 41rem;
  top: -1.5px !important;
  right: -1.5px !important;
}

.Home-titles {
  top: 9rem;
  position: relative;
  left: 7rem;
}

#welcome {
  height: 27px;
  font-style: bold;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 27px;
  color: rgb(255, 200, 0);
  -webkit-text-stroke: 0.1px white;
}

#digital{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 60px;

    color: rgba(29, 110, 231, 0.88);
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 white, 0 -1px white;
}

#ensuring{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1rem;
    
    color: #1D6EE7;
    text-shadow: -1px 1px 0 #ffffff,
	1px 1px 0 #ffffff,
	1px -1px 0 #ffffff,
	-1px -1px 0 #ffffff;    
}

@media only screen and (max-width: 820px) {
  .Home-titles {
    left: 40px;
    top: 5rem;
    /* width: 90%; */
    width: 80%;
  }
  .people {
    height: 45%;
  }

  .left-shape {
    width: 6%;
  }
}
