.our-projects-div {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 0%,
    rgba(29, 110, 231, 0.66) 100%
  );
  padding: 5%;
}
.Projectimg{
  max-height: 26rem;
  object-fit: cover;

}
/* 
#dev-div:hover .Projectimg{
  max-height: 45rem;

}
#dev-div:hover .projects-text2{
display: none;
}
#dev-div:hover {
  background: transparent!important;
} */

.our-projects {
  display: flex;
  flex-direction: row;
  left: 0;
  width: 100%;
  justify-content: center;
}

#dev-div {
  margin: 1%;
  transition: all 0.2s ease-in-out;
  position: static;
  display: flex;
  border-radius: 9px;
  flex-direction: column;
  width: 30%;
  height: 45rem;

}
.MobDev {
  background: linear-gradient(
    153.85deg,
    rgba(255, 199, 0, 0.553) 18.06%,
    rgba(255, 0, 212, 0.836) 100.21%
  );
}
.WebDev {
  background: linear-gradient(
    154.12deg,
    rgba(0, 97, 241, 0.91) 54.92%,
    rgba(0, 208, 255, 0.774) 99.18%
  );
}
.SoftDev {
  background: linear-gradient(
    333.52deg,
    rgba(255, 200, 0, 0.801) 21.23%,
    rgba(219, 0, 255, 0.5016) 138.97%
  );
}
.our-projects{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
/* identical to box height, or 136% */


color: #FFFFFF;
}
.projects-para{
  font-weight: 300;
  font-size: 15px;
  text-align: left;

}
#dev-div:hover {
  transform: scale(1.1);
}

#projects-para {
  padding: 4%;
  text-align: center;
  height: fit-content;

}
.Projectguideimg{
  width: 100%;
}
@media only screen and (max-width: 820px) {
  .our-projects {
    flex-direction: column;
    margin: auto;
  }
  #dev-div {
    margin: 10% auto;
    width: 50%;
    height: 54rem;
  }
  .our-projects-div {
    margin-top: 10rem;
    left: 0%;
  }
}
@media only screen and (max-width: 600px) {
  .our-projects {
    flex-direction: column;
  }
  #dev-div {
    margin: 10% auto;
    width: 95%;
  }
  .our-projects-div {
    margin-top: 10rem;
    left: 0%;
  }
}
