.our-projects-div {
  margin-top: 20rem;
  position: relative;
}

.our-projects {
  display: flex;
  flex-direction: row;
  left: 0%;
}

.MobDev {
  background-image: url("../../assets/img/Group7.png");
  background-size: cover;
  width: 21rem;
  height: 29rem;
}
.WebDev {
  background-image: url("../../assets/img/Group6.png");
  background-size: cover;
  width: 21rem;
  height: 29rem;
}
.SoftDev {
  background-image: url("../../assets/img/Group8.png");
  background-size: cover;
  width: 21rem;
  height: 29rem;
}

#dev-div {
  margin: 1%;
  transition: all 0.2s ease-in-out;
  position: static;
  display: flex;
  border-radius: 9px;
}
#dev-div:hover {
  transform: scale(1.1);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}



@media only screen and (max-device-width: 820px){
  .our-projects {
    flex-direction: column;
    left: 0%;
    margin: auto;
  }
  #dev-div {
    margin: 10% auto ;
    width: 50%;
    height: 34rem;

  }
  .our-projects-div {
    margin-top: 10rem;
    left: 0%;
  }
}
@media only screen and (max-device-width: 600px){
  .our-projects {
    flex-direction: column;
    margin-left: -2rem;
  }
  #dev-div {
    margin: 10% auto ;
    width: 90%;
  }
  .our-projects-div {
    margin-top: 10rem;
    left: 0%;
  }
}

