.container-intersect {
  display: relative;
}

.intersect-div {
  left: 0;
  z-index: -1;
  /* position: absolute; */
}

.Intersect {
  left: 0rem;
  opacity: 1;
  width: 40%;
  position: absolute;
}

.our-work {
  position: relative;
  margin-left: 35%;
  width: 70%;
  margin-top: 25rem;

  /* bottom: 20rem; */
}

.Group1 {
  width: 7rem;
  display: inline;
  margin: auto 0;
}

.Group-spans {
  display: inline-block;
  width: 80%;
  background: linear-gradient(90deg, rgba(29, 110, 231, 0.6) 0%, rgba(255, 255, 255, 0.14) 86.59%);  border-radius: 30px;
  padding: 1.3rem 3rem 1.3rem 2rem;
  margin: 2%;
  margin-bottom: 0;

  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}
#span1{
  background: linear-gradient(89.93deg, rgba(255, 255, 255, 0.17) -3.13%, rgba(29, 110, 231, 0.6) 99.94%);
  text-align: end;
}
.work-sections {
  width: 90%;
  position: relative;
  top: 2rem;
  margin: 1rem;
}


@media only screen and (max-width: 820px)
{
  .container-intersect {
    margin-top: 30%;
  }
  .Intersect {
    visibility: hidden;
    clear: both;
    float: left;

    display: none;
  }

  .our-work {
    position: relative;
    width: 90%;
    margin: 12rem auto;
  }

  .Group1 {
    height: 25%;
    margin: auto 0 auto 0;

  }

  .Group-spans {
    width: 75%;
    font-size: 18px;
    width: 70%;
    background: transparent;

  }
  #span1{
    background: transparent;

  }

}

@media only screen and (max-width: 600px) {
  .container-intersect {
    margin-top: 30%;
  }
  .Intersect {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
  }

  .our-work {
    position: relative;
    width: 95%;
    margin: 12rem auto;
  }

  .Group1 {
    width: 20%;
    margin: auto 0;
  }
  #span1{
    background: transparent;

  }

  .Group-spans {
    width: 75%;
    font-size: 15px;
    padding: 0.7rem 1rem;
  }
}
